/*basics*/
body {behavior: url("/stylesheets/csshover2.htc");} /*make IE understand :hover*/
body {text-align:center;background:transparent url("../images/backgrounds/bg_body.jpg") repeat left top;color:#8c8c8c;font:normal normal normal 13px/17px "Lucida Grande", "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;margin:0;}
div, p, ul, ol, li, img, h1, h2, h3, h4, h5, h6 {padding:0;margin:0;}
h1, h2, h3, h4, h5, h6 {font-size:100%;line-height:normal;font-weight:bold;}
table, tr, td, th, form, fieldset {padding:0;margin:0;border:0;}
table, td {font:normal normal normal 13px/17px Arial, Helvetica, sans-serif;}
td {vertical-align:top;}
input, select, textarea {margin:0;font:normal normal normal 13px/17px Arial, Helvetica, sans-serif;}
legend {display:none;}
a {color:#CF2358;}
li {list-style:none;}
img {border:none;display:block;}
object {display:block;}

h3 {overflow:hidden;margin:13px 0 13px 0;}
h3 a {font-size:11px;margin:0 0 0 15px;}
.small {font-size:11px;}

/*Container Basics*/
#container {margin:0 auto;width:965px;padding:0 9px 20px 19px;overflow:hidden;text-align:left;background:#000;}
	html>body #container {width:937px;}
#container .content {overflow:hidden;}

/*Iframe*/
#container #iframeDesc {position:absolute;left:10px;top:340px;background:transparent url("../images/buttons/bt_thrd_con_right.gif") no-repeat right top;}
#container #iframeDesc p {padding:5px 14px 0 14px;height:27px;background:transparent url("../images/buttons/bt_thrd_con_left.gif") no-repeat left top;}
	html>body #container #iframeDesc p {height:22px;}
	
#container iframe {width:100%;height:500px;}

/*Header*/
#container #header {overflow:hidden;}
#container #header #topBar {float:right;margin:0 9px 10px 0;}
#container #header #topBar #linkBar {float:left;}
#container #header #topBar #linkBar a {float:left;padding:7px 0 0 12px;color:#B6B6B6;}
#container #header #topBar #linkBar a.border {margin:0 0 0 12px;background:transparent url("../images/elements/el_highline.gif") no-repeat left top;}
/*TODO: Wird nicht als Link angezeigt!!!*/
#container #header #topBar a.eventButton {background:transparent url("../images/buttons/bt_top_right.gif") no-repeat right top;float:left;margin:3px 25px 0 30px;color:#B6B6B6;text-decoration:none;}
#container #header #topBar a.eventButton span {height:27px;padding:4px 12px 0 12px;display:block;background:transparent url("../images/buttons/bt_top_left.gif") no-repeat left top;}
	html>body #container #header #topBar a.eventButton span {height:23px;}
#container #header #topBar form {float:left;margin:9px 0 0 0;}
#container #header #topBar form input {margin:0 0 0 10px;float:left;}
#container #header #topBar form input.input {width:110px;background:#000;border:1px solid #959595;color:#959595;}
#container #header ul#menu {clear:both;overflow:hidden;margin:0 0 22px 0;}
#container #header ul#menu li {float:left;}
#container #header ul#menu li a {color:#9B9B9B;text-decoration:none;text-transform:uppercase;font-weight:bold;padding:5px 0 0 30px;width:111px;height:30px;display:block;background:transparent url("../images/buttons/bt_menu.gif") no-repeat left top;}
	html>body #container #header ul#menu li a {width:81px;height:25px;}
#container #header ul#menu li.active a, 
#container #header ul#menu li a:hover {color:#CF2188;}

/*container left and right*/
#container .content .twoOne {float:left;width:624px;}
#container .content .twoTwo {float:left;width:302px;}

/*small or medium container in left (or right) box*/
#container .content .equals {overflow:hidden;}
#container .content .equalBox {overflow:hidden;padding:7px 0;}
#container .content .equal {float:left;width:302px;margin:0 10px 0 0;display:inline;}

/*round the corners*/
#container .content .roundedFull {background:#141414;padding:7px;}
#container .content .roundedHalf {background:#000;border:1px solid #313131;padding:7px;}


/*Player*/
#container #player {position:relative;height:380px;width:928px;background:transparent url("../images/backgrounds/bg_event.jpg") no-repeat 0 38px;}
#container #player .head {height:37px;overflow:hidden;background:transparent url("../images/backgrounds/bg_player_head.gif") no-repeat left top;}
#container #player .head img {position:absolute;left:0;top:0;}
#container #player .head .headline {float:left;margin:10px 0 0 64px;}
#container #player .head .headline h1 {color:#9AC111;float:left;background:transparent url("../images/elements/el_line.gif") no-repeat 100% 4px;padding:0 7px 0 0;margin:0 4px 0 0;}
#container #player .head .headline h2 {float:left;color:#fff;background:transparent url("../images/elements/el_line.gif") no-repeat 100% 4px;padding:0 7px 0 0;margin:0 4px 0 0;}
#container #player .head .headline p {float:left;color:#fff;font-weight:bold;}
#container #player .head .rss {float:right;margin:7px 10px 0 0;background:transparent url("../images/backgrounds/bg_rss_right.gif") no-repeat right top;}
#container #player .head .rss a {display:block;height:22px;padding:3px 9px 0 9px;text-decoration:none;color:#9AC111;font-size:11px;background:transparent url("../images/backgrounds/bg_rss_left.gif") no-repeat left top;}
	html>body #container #player .head .rss a {height:19px;}
#container #player .sponsor {position:absolute;right:0;top:58px;}
#container #player #playerObject {width:478px;margin:20px 0 0 225px;background:#000;}	

/*Event Album Controls*/
#container #eventAlbum {width:928px;overflow:hidden;position:relative;}
#container #eventAlbum #controlBar {overflow:hidden;margin:0 0 0 16px;height:35px;width:898px;background:transparent url("../images/backgrounds/bg_event_controlbar_2.gif") no-repeat left top;}
#container #eventAlbum #controlBar select {float:left;margin:7px 0 0 24px;width:130px;background:#3D3D3D;border:1px solid #383838;color:#737373;font-size:11px;}
#container #eventAlbum #controlBar ul {float:left;margin:0 0 0 88px;width:430px;}
#container #eventAlbum #controlBar ul li {float:left;}
#container #eventAlbum #controlBar ul li a {color:#8c8c8c;text-decoration:none;padding:0 4px 0 0;margin:0 4px 0 0;background:transparent url("../images/elements/el_line_small.gif") no-repeat 100% 4px;}
#container #eventAlbum #controlBar ul li a.last {padding:0;margin:0;background:none;}
#container #eventAlbum #controlBar .submitContri {float:right;margin:6px 22px 0 0;background:transparent url("../images/buttons/bt_button_right.gif") no-repeat right top;}
#container #eventAlbum #controlBar .submitContri a {color:#fff;padding:3px 18px 0 18px;height:22px;display:block;text-decoration:none;background:transparent url("../images/buttons/bt_button_left.gif") no-repeat left top;}
	html>body #container #eventAlbum #controlBar .submitContri a {height:19px;}

#container #eventAlbum #eventList {width:898px;overflow:hidden;margin:0 0 0 16px;padding:0 0 0 3px;position:relative;}
	html>body #container #eventAlbum #eventList {width:895px;}
#container #eventAlbum #eventList ul {overflow:hidden;width:917px;height:123px;background:#141414 url("../images/backgrounds/bg_event_album_inner.gif") repeat-x left top;}
#container #eventAlbum #eventList ul li {float:left;width:128px;height:123px;padding:8px 11px 0 11px;display:inline;position:relative;}
	html>body #container #eventAlbum #eventList ul li {height:115px;width:106px;}
#container #eventAlbum #eventList ul li.active {background:transparent url("../images/backgrounds/bg_event_album_active.gif") no-repeat left top;}
#container #eventAlbum #eventList ul li p {margin:0 0 3px 0;color:#4B4B4B;overflow:hidden;height:17px;}
#container #eventAlbum #eventList ul li p a {color:#4B4B4B;text-decoration:none;}
#container #eventAlbum #eventList ul li img.thisEvent {margin:0 0 4px 0;}
#container #eventAlbum #eventList ul li img.user {position:absolute;left:11px;bottom:29px;border-top:2px solid #000;border-right:2px solid #000;}
#container #eventAlbum #eventList ul li img.symbol {position:absolute;right:11px;top:28px;}
#container #eventAlbum #eventList #overlay {width:28px;height:123px;position:absolute;left:0;top:0;background:transparent url("../images/backgrounds/bg_event_album.gif") no-repeat left top;}
#container #eventAlbum #eventList #overlay2 {width:28px;height:123px;position:absolute;right:0;top:0;background:transparent url("../images/backgrounds/bg_event_album2.gif") no-repeat left top;}
#container #eventAlbum #btLeft {position:absolute;left:6px;top:80px;}
#container #eventAlbum #btRight {position:absolute;right:6px;top:80px;}

#container #eventAlbum #eventFooter {overflow:hidden;margin:0 0 0 16px;height:37px;width:898px;background:transparent url("../images/backgrounds/bg_event_footer.gif") no-repeat left top;}
#container #eventAlbum #eventFooter ul {float:right;margin:6px 20px 0 0;}
#container #eventAlbum #eventFooter ul li {display:inline;}
#container #eventAlbum #eventFooter ul li a {font-size:11px;}
#container #eventAlbum #eventFooter ul li.active a {color:#8c8c8c;}
#container #eventAlbum #eventFooter ul li.jump a {text-decoration:none;}
#container #eventAlbum #eventFooter ul li.showAll a {padding-left:6px;}

/*Event Album SHOWS ALL*/
#container #eventAlbum.openforall #eventList #overlay, 
#container #eventAlbum.openforall #eventList #overlay2, 
#container #eventAlbum.openforall #btLeft, 
#container #eventAlbum.openforall #btRight, 
#container #eventAlbum.openforall #eventFooter {display:none;}
#container #eventAlbum.openforall #controlBar {margin:0 0 5px 16px;background:transparent url("../images/backgrounds/bg_event_controlbar.gif") no-repeat left top;}
#container #eventAlbum.openforall #eventList ul {background:none;height:auto;}
#container #eventAlbum.openforall #eventList ul li.active {background:transparent url("../images/backgrounds/bg_event_album_active_2.gif") no-repeat left top;}

/*Contribution Details Box*/
#container .content .detailView {overflow:hidden;padding:7px 0;}
#container .content .detailView .detLeft {float:left;padding:7px;background:#1a1a1a;width:205px;height:98px;margin:0 1px 0 0;display:inline;}
	html>body #container .content .detailView .detLeft {height:84px;}
#container .content .detailView .detLeft .userPic {float:left;margin:5px 10px 0 5px;}
#container .content .detailView .detLeft .fanpoints {overflow:hidden;margin:7px 0;}
#container .content .detailView .detLeft .fanpoints img {float:left;margin:0 5px 0 0;}
#container .content .detailView .detRight {float:left;padding:7px;background:#141414;width:408px;height:98px;}
	html>body #container .content .detailView .detRight {height:84px;}
#container .content .detailView .detRight h4 {color:#fff;}

/*Similar Events*/
#container .content .simEvents {width:614px;background:#141414;margin:17px 0 17px 0;}

#container .content .simEvents ul.eventList {width:614px;background:none;margin-left:9px;}
#container .content .simEvents ul.eventList li {margin:10px 22px 12px 0;}

/*Comments Details Box*/
#container .content .commentsBox {overflow:hidden;padding:7px 0;}
#container .content .comments {float:left;width:614px;padding:7px;background:#404040;}
#container .content .comments .comRow {overflow:hidden;border-bottom:1px solid #141414;padding:0 0 13px 0;margin:0 0 13px 0;}
#container .content .comments .comLeft {float:left;width:198px;display:inline;}
#container .content .comments .comLeft .userPic {float:left;margin:5px 10px 0 5px;}
#container .content .comments .comLeft .fanpoints {overflow:hidden;margin:7px 0;}
#container .content .comments .comLeft .fanpoints img {float:left;margin:0 5px 0 0;}
#container .content .comments .comRight {float:left;border-left:1px solid #141414;width:401px;padding:0 0 0 14px;}
	html>body #container .content .comments .comRight {width:387px;}
#container .content .comments .comRight h4 {color:#fff;}

/*list of fans*/
#container .content ul#fanList {overflow:hidden;}
#container .content ul#fanList li {float:left;width:92px;height:113px;padding:10px 0 0 11px;margin:0 1px 2px 0;display:inline;background:transparent url("../images/backgrounds/bg_fan.gif") no-repeat left top;}
	html>body #container .content ul#fanList li {width:81px;height:103px;}
#container .content ul#fanList li a.userName {color:#8c8c8c;width:78px;height:16px;overflow:hidden;display:block;margin:6px 0 6px 0;}
#container .content ul#fanList li a.userName span {width:140px;display:block;}
#container .content ul#fanList li .fanpoints {overflow:hidden;}
#container .content ul#fanList li .fanpoints img {float:left;margin:0 5px 0 0;}

/*Table right side*/
#container .content .myTable {margin:2px 0 0 6px;}
#container .content .myTable tr td {padding:0 0 2px 0;}
#container .content .myTable tr.second td {padding:0 0 20px 0;}

/*Answers Box*/
#container .content #answers {padding:12px;}
#container .content #answers li {overflow:hidden;padding:0 0 13px 0;border-bottom:1px solid #000;margin:0 0 13px 0;}
#container .content #answers li p {margin:0 0 3px 0;}
#container .content #answers li p.small {margin:0;}
#container .content #answers li img {float:left;margin:0 10px 0 0;}

/*Equal Events Box*/
#container .content #equalEvents {padding:12px;}
#container .content #equalEvents li {position:relative;margin:0 0 23px 0;}
#container .content #equalEvents li p {margin:0 0 3px 0;}
#container .content #equalEvents li p a.bandname {color:#8c8c8c;}
#container .content #equalEvents li img {position:absolute;right:0;bottom:0;}

/*EVENT OVERVIEW*/
#container .content .overviewHead {overflow:hidden;margin:0 9px 1px 0;background:transparent url("../images/backgrounds/bg_overview_head.gif") no-repeat left top;}
#container .content .overviewHead h1 {float:left;padding:8px 0 11px 20px;}
#container .content .overviewHead ul {float:right;margin:13px 13px 0 0;background:transparent url("../images/backgrounds/bg_submenu.gif") no-repeat right top;}
#container .content .overviewHead ul li {float:left;}
#container .content .overviewHead ul li a {color:#FF944D;text-decoration:none;height:24px;width:124px;display:block;padding:4px 0 0 9px;}
	html>body #container .content .overviewHead ul li a {height:20px;width:115px;}
#container .content .overviewHead ul li.first a {background:transparent url("../images/backgrounds/bg_submenu.gif") no-repeat left top;}
#container .content .overviewHead ul li a.active {color:#8A8A8B;background:transparent url("../images/backgrounds/bg_submenu_active.gif") no-repeat -124px 0;}
#container .content .overviewHead ul li.first a.active {color:#8A8A8B;background:transparent url("../images/backgrounds/bg_submenu_active.gif") no-repeat left top;}
#container .content .overviewHead ul li.last a.active {color:#8A8A8B;background:transparent url("../images/backgrounds/bg_submenu_active.gif") no-repeat right top;}
#container .content .overviewHead ul li a:hover {color:#8A8A8B;background:transparent url("../images/backgrounds/bg_submenu_active.gif") no-repeat -124px 0;}
#container .content .overviewHead ul li.first a:hover {background:transparent url("../images/backgrounds/bg_submenu_active.gif") no-repeat left top;}
#container .content .overviewHead ul li.last a:hover {background-position:right top;}
	
#container .content .eventCategories {overflow:hidden;width:928px;padding:19px 0;background:transparent url("../images/backgrounds/bg_event_categories.gif") repeat-x left top;}
#container .content .eventCategories ul {margin:0 0 0 20px;overflow:hidden;}
#container .content .eventCategories ul li {float:left;margin:0 10px 0 0;background:transparent url("../images/buttons/bt_event_cat_inactive_right.gif") no-repeat right top;}
#container .content .eventCategories ul li a {font-size:11px;padding:0 15px;height:18px;display:block;text-decoration:none;color:#FF944D;background:transparent url("../images/buttons/bt_event_cat_inactive_left.gif") no-repeat left top;}
#container .content .eventCategories ul li:hover, #container .content .eventCategories ul li.active {background:transparent url("../images/buttons/bt_event_cat_active_right.gif") no-repeat right top;}
#container .content .eventCategories ul li:hover a, #container .content .eventCategories ul li.active a {color:#fff;background:transparent url("../images/buttons/bt_event_cat_active_left.gif") no-repeat left top;}

#container .content .eventFooter {overflow:hidden;margin:0 10px 0 0;}
#container .content .eventFooter ul {float:right;margin:12px 0 0 0;}
#container .content .eventFooter ul li {display:inline;}
#container .content .eventFooter ul li a {font-size:11px;color:#FF944D;}
#container .content .eventFooter ul li.active a {color:#8c8c8c;}
#container .content .eventFooter ul li.jump a {text-decoration:none;}
#container .content .eventFooter ul li.showAll a {padding-left:6px;}

#container .content .profileHeadline {overflow:hidden;margin:0 10px 0 0;padding:8px 0 18px 0;}
#container .content .profileHeadline h2 {float:left;font-size:20px;margin:10px 0 0 20px;}
#container .content .profileHeadline p {float:right;font-size:11px;}
#container .content .profileHeadline p.infoP {padding:0 0 0 25px;background:transparent url("../images/backgrounds/bg_arrows.gif") no-repeat 0 4px;margin:0 90px 0 0;}
#container .content .profileHeadline p a {color:#EE8A48;}
#container .content .profileHeadline p.showAll a {padding:15px 0 0 0;display:block;}

#container .content ul.eventList {overflow:hidden;width:928px;padding:0 0 0 2px;background:transparent url("../images/backgrounds/bg_event_overview.gif") repeat-x left top;margin:0 10px 0 0;}
	html>body #container .content ul.eventList {width:926px;}
#container .content ul.noBg {background:none !important;}
#container .content ul.eventList li {cursor:pointer;position:relative;width:131px;height:182px;float:left;margin:0 1px 2px 0;display:inline;}
#container .content ul.eventList li .infos {position:absolute;left:0;top:0;width:131px;height:182px;}
#container .content ul.eventList li .infos .placeholder {height:16px;margin:4px 4px 11px 4px;background:red;font-size:11px;}
#container .content ul.eventList li .infos h2 {display:none;color:#fff;font-size:11px;margin:0 0 2px 5px;}
#container .content ul.eventList li .infos p {display:none;color:#fff;line-height:normal;margin:0 0 6px 5px;}
#container .content ul.eventList li .infos a.small {display:none;color:#FF944D;font-weight:bold;margin:0 0 0 5px;}
#container .content ul.eventList li .infos ul {overflow:hidden;position:absolute;right:6px;bottom:7px;}
#container .content ul.eventList li .infos ul li {float:left;width:auto;height:auto;margin:0 1px 0 0;}
#container .content ul.eventList li .darken {display:none;position:absolute;left:0;top:0;background:#000;width:131px;height:182px;-moz-opacity:0.8;filter:Alpha(opacity=80);}
#container .content ul.eventList li .both {background:transparent url("../images/elements/el_event_highlight.gif") no-repeat left top;position:absolute;left:0;top:0;width:131px;height:182px;}
#container .content ul.eventList li:hover .infos h2, 
#container .content ul.eventList li:hover .infos p, 
#container .content ul.eventList li:hover .infos a.small {display:block;}
#container .content ul.eventList li:hover .darken {display:block;}

#container .content ul.fanList {overflow:hidden;}
#container .content ul.fanList li {cursor:pointer;margin:0 1px 1px 0;padding:14px 0 0 11px;float:left;width:232px;height:100px;background:transparent url("../images/backgrounds/bg_fans_detail.gif") no-repeat left top;}
	html>body #container .content ul.fanList li {width:221px;height:86px;}
#container .content ul.fanList li .image {float:left;margin:0 10px 0 0;position:relative;}
#container .content ul.fanList li .image .both {background:transparent url("../images/elements/el_fan_highlight.gif") no-repeat left top;width:69px;height:69px;position:absolute;left:0;top:0;}
#container .content ul.fanList li p {margin:0 0 2px 0;}
#container .content ul.fanList li p a {color:#8c8c8c;text-decoration:none;}
#container .content ul.fanList li .fanpoints {overflow:hidden;margin:0 0 10px 0;}
#container .content ul.fanList li .fanpoints img {float:left;margin:0 5px 0 0;}

#container .content ul.favList {overflow:hidden;}
#container .content ul.favList li {margin:0 1px 1px 0;cursor:pointer;float:left;width:230px;height:144px;position:relative;}
#container .content ul.favList li .placeholder {height:16px;margin:9px 9px 11px 9px;background:red;font-size:11px;}
#container .content ul.favList li .infos {background:#000;position:absolute;left:1px;bottom:1px;width:228px;height:40px;}
#container .content ul.favList li .infos h2 {margin:3px 0 0 3px;width:190px;overflow:hidden;height:16px;}
#container .content ul.favList li .infos h2 a {text-decoration:none;color:#fff;}
#container .content ul.favList li .infos p {margin:0 0 0 3px;}
#container .content ul.favList li .infos ul {z-index:3;overflow:hidden;position:absolute;right:6px;bottom:7px;}
#container .content ul.favList li .infos ul li {float:left;width:auto;height:auto;margin:0 1px 0 0;}
#container .content ul.favList li .both {background:transparent url("../images/elements/el_fav_highlight.gif") no-repeat left top;position:absolute;left:0;top:0;width:230px;height:144px;}

/*BANDPROFIL*/
#container .content .bandInfo {background:#101011;overflow:hidden;padding:10px 0 25px 22px;margin:0 9px 0 0;}
#container .content .bandInfo .bandPic {float:left;margin:0 1px 0 0;display:inline;}
#container .content .bandInfo .infos {float:left;width:200px;margin:0 10px 0 22px;display:inline;}
#container .content .bandInfo .infos h2 {color:#fff;margin:10px 0 20px 0;}
#container .content .bandInfo .infos h2 a {color:#fff;}
#container .content .bandInfo .infos h3, 
#container .content .bandInfo .infos h4 {margin:0 0 2px 0;}
#container .content .bandInfo .infos h5 {margin:0 0 10px 0;}
#container .content .bandInfo .bandLogo {float:left;margin:0 22px 0 0;display:inline;}
#container .content .bandInfo .bandEvent {position:relative;float:left;height:182px;width:131px;}
#container .content .bandInfo .bandEvent .placeholder {height:16px;margin:4px 6px 0 6px;background:red;font-size:11px;}
#container .content .bandInfo .bandEvent ul {overflow:hidden;position:absolute;right:7px;bottom:7px;}
#container .content .bandInfo .bandEvent ul li {float:left;margin:0 1px 0 0;}

/*FOOTER*/
#container #footer {border-top:1px solid #8C8C8C;overflow:hidden;width:928px;margin:20px 0 30px 0;}
#container #footer #media {float:left;margin:6px 18px 0 0;}
/*TODO: Wird nicht als Link angezeigt!!!*/
#container #footer a.spam {float:left;margin:6px 0 0 0;color:#8C8C8C;text-decoration:none;background:transparent url("../images/buttons/bt_footer_spam_right.gif") no-repeat right top;}
#container #footer a.spam span {display:block;height:26px;padding:3px 4px 0 4px;background:transparent url("../images/buttons/bt_footer_spam_left.gif") no-repeat left top;}
#container #footer ul#footerBar {float:right;margin:10px 0 0 0;}
#container #footer ul#footerBar li {float:left;}
#container #footer ul#footerBar li a {padding:0 8px 0 8px;text-decoration:none;color:#8C8C8C;}
#container #footer ul#footerBar li.last a {padding:0 0 0 8px;background:none;}

/* added by Thorsten */
#container .eventForm {z-index:1;position:absolute;left:225px;bottom:0px;}
#container .eventForm form {width:478px;height:323px;overflow:hidden;background:transparent url("../images/backgrounds/bg_eventform.gif") repeat-x left top;padding:13px 0 0 13px;}
	html>body #container .eventForm form {width:465px;height:310px;}
#container .eventForm form .playerFormRow {overflow:hidden;}
#container .eventForm form .playerFormRow h2 {color:#fff;font-size:16px;line-height:normal;}
#container .eventForm form .playerFormRow p {color:#fff;font-size:11px;margin-bottom:10px;}
#container .eventForm form .playerFormRow p.desc {color:#8C8C8C;}
#container .eventForm form .playerFormRow p.help {color:#8C8C8C;margin:0;}
#container .eventForm form .playerFormRow a {font-size:11px;margin:20px 0 0 0;display:block;color:#199DA4;}
#container .eventForm form .playerFormRow label {color:#fff;font-size:11px;}
#container .eventForm form .playerFormRow input, 
#container .eventForm form .playerFormRow textarea {margin:0 0 5px 0;}
#container .eventForm form .playerFormRow .input {width:218px;}
#container .full form .playerFormRow .input {width:450px;}
#container .eventForm form .playerFormRow textarea.input {height:170px;}
*+html #container .eventForm form .playerFormRow textarea.input {height:168px;}
#container .eventForm form .rowButtons {float:right;}
#container .eventForm form .rowButtons a {margin:0;}
#container .eventForm form .rowButtons img, 
#container .eventForm form .rowButtons input {float:left;width:auto;margin:0 10px 0 0;}

#container .eventForm form .fields {overflow:hidden;}
#container .eventForm form .fields .left {width:230px;float:left;}
#container .eventForm form .fields .right {margin:17px 0 0 0;width:230px;float:left;}
#container .eventForm form .fields .right #flickrme {margin-top:54px;}

#container .eventForm form .checkbox {overflow:hidden;}
#container .eventForm form .checkbox input {float:left;margin:0 4px 0 0;display:inline;}
*+html #container .eventForm form .checkbox input {margin:0 2px 0 0;}
#container .eventForm form .checkbox label {float:left;margin:0 4px 0 0;display:inline;}
*+html #container .eventForm form .checkbox label {margin:2px 2px 0 0;}

#container #login_form form .fields {margin-top:45px;}
#container #login_form form .fields .left {width:280px;padding:17px 0 0 47px;background:transparent url("../images/backgrounds/bg_eventform_login.gif") no-repeat 26px 0;}
	html>body #container #login_form form .fields .left {width:233px;}
#container #login_form form .fields .left .input {width:185px;}
#container #login_form form .fields .left .more {margin-bottom:8px;}
#container #login_form form .fields .left .checkbox {margin:0 0 26px 0;}
#container #login_form form .fields .left .checkbox label {width:170px;}
#container #login_form form .fields .left .rowButtons {margin:0 13px 0 0;}
#container #login_form form .fields .right {width:180px;margin-top:0;}

#container #publish_form      {z-index:1;position:absolute;width:478px;margin:20px 0 0 225px;}
