body {
	background-repeat:  repeat-x;
  background-color: #FFF;
/*  font-size: 123.1%;*/
  font-family: Lucida Grande, Verdana, sans-serif;
  color: #333;
}

div#bd {
  padding: 10px;
}

div#hd,
div#ft {
  background-color: #a0a0a0;
  padding:5px;
}

ul.navi li,
ul.foot li {
  float: right;
  display:inline;
  margin: 5px;
}

td,th {
  padding: 2px;
}

ul.cards {
  width: 150px;
  height: 560px;
}

ul.cards li {
  background-color: yellow;
  border: 1px solid black;
  width: 150px;
  height: 50px;
  padding: 2px;
  position: relative;
  float: left;
}

ul.cards li .effort {
  float: right;
}
