<div class="box">	
	<div class="inBox1of1">
		<h1>Kennwort ändern</h1>
		<p>Wir haben Dir eine Email geschickt, die demnächst in Deinem Postfach auftauchen wird.</p>
		<p>In der Email findest Du eine Anleitung, wie Du Ihr Kennwort ändern kannst.</p>
	</div>
</div>
