<div class="box">
	<div class="fullBox">
		<h1>Kennwort vergessen?</h1>
	</div>
</div>		
<div class="box normal">
	<div class="wideBoxLeft">
			<div class="formRow">
				<p>Kein Problem. Gib uns Deine Mailadresse und wir schicken Dir 
					eine Anleitung, wie Du Dein Kennwort ändern kannst.</p>
				<p>Mit * markierte Felder sind Pflichtfelder</p>
			</div>
			<% form_tag :action => 'recover_password' do %>
			<%= flash[:error] %>
			<fieldset>
				<div class="formRow">
					<label for="email">Emailadresse*</label>
					<%= text_field :email, '', :class => 'input' %>
				</div>
			</fieldset>
			<div class="formRow">
				<div class="buttons">
      		<%= link_to(image_tag('buttons/bt_abbrechen.gif', :alt => 'Abbrechen'), root_path) %>
					<%= image_submit_tag('buttons/bt_speichern.gif', :alt => 'Speichern') %>
				</div>
			</div>
		<% end %>
	</div>
	<div class="sideShow">	
	</div>
</div>