<h1>introduction</h1>
<p>
  42towels is dedicated to keep planning easy and smooth. It is based on
  extreme programming.
</p>

<h2>What can I do?</h2>
<ul>
  <li>start an XP <%= link_to 'project', new_project_path %></li>
  <li>or <%= link_to 'sign up', new_user_path %> first</li>
</ul>