<ul class="foot">
	<li><%= link_to('Imprint', imprint_path) %></li>
	<li><%= link_to('Terms of Service', terms_of_service_path) %></li>
	<li class="last"><%= link_to('Contact', contact_path) %></li>
</ul>
